{% extends './base.html' %}

{% block content %}
    <div class="container" id="login-div">
         {% for message in messages %}
            <div class="alert alert-danger" style="display: block !important; margin-top: 20px;" id="main-message">
                {{ message|safe }}
            </div>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="username">Usuario</label>
                    <input id="username" type="text" name="username" value="" placeholder="" class="form-control input-lg" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" name="password" value="" placeholder="" class="form-control input-lg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Login<i class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}