<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="modal-title-label"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>ID Operación:</b></label>
                            <label id="modal-id-operacion-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Fecha Última Modificación:</b></label>
                            <label id="modal-fecha-ultima-modificacion-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Fecha Original:</b></label>
                            <label id="modal-fecha-original-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Monto:</b></label>
                            <label id="modal-monto-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Cuotas:</b></label>
                            <label id="modal-cuotas-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Estado:</b></label>
                            <label id="modal-estado-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Resultado CS:</b></label>
                            <label id="modal-resultado-cs-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Estado Final:</b></label>
                            <label id="modal-estado-final-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Autent. VBV:</b></label>
                            <label id="modal-autent-vbv-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Tarjeta:</b></label>
                            <label id="modal-tarjeta-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Site:</b></label>
                            <label id="modal-site-label"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Cod. Aut.:</b></label>
                            <label id="modal-cod-aut-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Nro. Tarjeta:</b></label>
                            <label id="modal-nro-tarjeta-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Titular:</b></label>
                            <label id="modal-titular-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Tipo Doc.:</b></label>
                            <label id="modal-tipo-doc-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Nro. Doc.:</b></label>
                            <label id="modal-nro-doc-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Motivo:</b></label>
                            <label id="modal-motivo-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Motivo Adicional:</b></label>
                            <label id="modal-motivo-adicional-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Origen:</b></label>
                            <label id="modal-origen-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Validación Domicilio:</b></label>
                            <label id="modal-validacion-domicilio-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Validación Titular:</b></label>
                            <label id="modal-validacion-titular-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>E-Mail:</b></label>
                            <label id="modal-email-label"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>