<div class="modal fade" id="detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label id="modal-title-label"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Transacción:</b></label>
                            <label id="modal-transaccion-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Medio de Pago:</b></label>
                            <label id="modal-medio-de-pago-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Monto:</b></label>
                            <label id="modal-monto-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Fecha de Pago:</b></label>
                            <label id="modal-fecha-de-pago-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Estado en SIR:</b></label>
                            <label id="modal-estado-en-sir-label"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Dominio:</b></label>
                            <label id="modal-dominio-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Cantidad de Dominios:</b></label>
                            <label id="modal-cantidad-de-dominios-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>ID TAD:</b></label>
                            <label id="modal-id-tad-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Código de Trámite:</b></label>
                            <label id="modal-codigo-de-tramite-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>Tipo de Trámite:</b></label>
                            <label id="modal-tipo-de-tramite-label"></label>
                        </div>
                        <div class="form-group">
                            <label><b>N° de Factura</b></label>
                            <label id="modal-numero-de-factura-label"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>